* {
    margin: 0;
    padding: 0;
    font-family: 'Shippori Antique', serif;

}
li,a, button{
    font-weight: 500;
    text-decoration: none;
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logoKumo {
    width: 10%;
    cursor: pointer;
}

.navlink {
    list-style: none;
}
.navlink li {
    display: inline-block;
    padding: 0px 30px;
}

.navlink li a {
    font-size: 25px;
    transition: all 0.3s ease 0s;
}

.navlink li a:hover{
    color: rgb(255, 82, 59);
}

button {
    font-size: 25px;
    padding: 9px 25px;
    background-color:rgb(211, 29, 59);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: white;
}

button:hover{
    background-color:rgb(255, 102, 128);
}

footer {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid black;
}

footer div {
    font-size: small;
    text-align: center;
    margin-bottom: 1rem;
}

.copyrightText {
    margin-top: 1em;
}